 
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap');
 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;    
}

body{
    background-color: #ede6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 22rem;
    text-align: center;   
    box-shadow: 1px 1px 10px  1px rgb(130, 129, 129);
    border-radius: 1.2rem;
    background-color: whitesmoke;
}

.card-top{
    background-color: #4071ED;
    height: 7rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
   position: relative;  
 
}

.profile-img{
    position: absolute;
    top: 2.2rem;
    margin:auto 35%;
}
.profile-img img{
    border-radius: 25rem;
    border: 2px solid #4071ED;
    padding: 0.2rem;
    width: 6rem;
    background-color: white;
    
}

.card-bottom{
    padding: 2rem 0.2rem 1rem 0.3rem;
    height: 12.9rem;
     

}

.dev-name{
    color:#242425 ;
    font-size: 1.5rem;
}
.card-bottom p{
    font-size: 0.7rem;
    padding: 0.5rem 0;
}

.link{
    text-decoration: none;
}


.btn{
    display: inline-block;
   width: 7rem;
    background-color: #4071ED;
    border-radius: 3rem;
    padding: 0.5rem;
    color: white;
    margin: 0.6rem 0.3rem;
      
}
.social-numbers{
 display: flex;
 justify-content: center;
 margin-top: 1.2rem;
}
.social-numbers div {
    width: 4rem;
 display: flex;
 justify-content: center;
 margin: 0 0.3rem;
 
}
.social-numbers div div{
    border-right: 2px solid rgb(179, 179, 179) ;
    padding-right: 0.8rem;

} 